.enter {
  opacity: 0;
}
.exit {
  opacity: 1;
}
.enterActive {
  opacity: 1;
}
.exitActive {
  opacity: 0;
}
.enterActive,
.exitActive {
  transition: opacity 500ms;
}

.transparent {
  opacity: 0;
}

.fadeIn {
  :global {
    animation: fadeIn 1s ease;
  }
}

.fadeOut {
  :global {
    animation: fadeOut 1s ease;
  }
}

.frost-glass {

  //background-color: #aaaaaa18;
  backdrop-filter: blur(5px);
}
